/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;500;600;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    /* share3d style */
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    width: 180px;
height: 64px;
background-color: #FF900E;
color: #FFFFFF;
font-size: 20px;
border: none;
border-radius: 8px;
padding: 20px 25px;
}
/* header style */
header{
    background-color:rgba(255, 144, 14, 0.10) ;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: var(--dark-01, #131313);
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
nav>ul{
display: flex;
}
nav li{
    list-style: none;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 144.444% */
margin-right: 30px;
}
a{
    text-decoration: none;
    color: var(--dark-02, #424242);
}
/* banner styles */
.banner-content{
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
}
.banner-title{
    font-size: 64px;
    color: #131313;
}
.banner-description{
    color: #727272;
    font-size: 16px;
}
.banner-img>img{
    width: 100%;
    height: 100%;
}
.banner-img{
    margin-top: 50px;
}
main{
    max-width: 1200px;
    margin: 70px 200px 70px 300px;
}
.team-container{
    display: flex;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.team-img>img{
    width: 200px;
    height: 200px;
}
.team-feature{
    padding: 0 70px;
}
.team-feature-title{
    font-size: 45px;
}
span{
    color: #727272;
font-family: Work Sans;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.ab{
    color: #131313;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cd{
    color: #FF900E;
font-family: Work Sans;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.team-feature-description{
    color:  #727272;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}



/* ressponsive media queries */
/* mobile devise */
@media screen and (max-width:576px) {
    header{
        padding: 10px;
    }
    nav,.team-container{
        flex-direction: column;
    }
    .team-container{
        padding: 10px;
    }
    .team-img{
        grid-template-columns: 1fr;
    }
    .team-img>img{
        width: 300px;
        height: 173px;
    }
    main{
        margin: 0;
    }
}
/* tablet device */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 10px;
    }
    nav,.team-container{
        flex-direction: column;
    }
    main{
        margin: 0;
    }
}